In [4]:
import pandas as pd

# Load the wide unemployment data
unemp = pd.read_csv('API_ILO_country_YU.csv')

# Clean column names (remove extra spaces)
unemp.columns = unemp.columns.str.strip()

# Melt the data into long format
unemp_long = unemp.melt(
    id_vars=['Country Name', 'Country Code'], 
    var_name='year', 
    value_name='unemployment_rate'
)

# Clean and convert year
unemp_long['year'] = unemp_long['year'].astype(int)

# Rename for consistency
unemp_long.rename(columns={
    'Country Name': 'country',
    'Country Code': 'country_code'
}, inplace=True)

# Preview
print(unemp_long.head())

                country country_code  year  unemployment_rate
0           Afghanistan          AFG  2010          20.600000
1                Angola          AGO  2010          10.800000
2               Albania          ALB  2010          25.799999
3            Arab World          ARB  2010          25.022214
4  United Arab Emirates          ARE  2010           9.800000

In [5]:
# Load education dataset
edu_df = pd.read_csv('world-education-data.csv')

# Clean column names
edu_df.columns = edu_df.columns.str.strip().str.lower()

# Merge on country and year
merged_df = pd.merge(edu_df, unemp_long, on=['country', 'year'], how='inner')

# Preview merged data
print(merged_df.head())

       country country_code_x  year  gov_exp_pct_gdp  lit_rate_adult_pct  \
0  Afghanistan            AFG  2010          3.47945                 NaN
1  Afghanistan            AFG  2011          3.46201                31.0
2  Afghanistan            AFG  2012          2.60420                 NaN
3  Afghanistan            AFG  2013          3.45446                 NaN
4  Afghanistan            AFG  2014          3.69522                 NaN

   pri_comp_rate_pct  pupil_teacher_primary  pupil_teacher_secondary  \
0                NaN               44.41709                      NaN
1                NaN               43.51915                      NaN
2                NaN               44.67743                      NaN
3                NaN               45.71171                      NaN
4                NaN                    NaN                      NaN

   school_enrol_primary_pct  school_enrol_secondary_pct  \
0                102.903442                   50.413689
1                100.290298                   52.198429
2                106.283401                   54.206390
3                107.695976                   54.754219
4                109.115517                   54.235481

   school_enrol_tertiary_pct country_code_y  unemployment_rate
0                        NaN            AFG          20.600000
1                    3.75561            AFG          20.900000
2                        NaN            AFG          19.700001
3                        NaN            AFG          21.100000
4                    8.31087            AFG          20.799999

In [6]:
print(merged_df.head())

       country country_code_x  year  gov_exp_pct_gdp  lit_rate_adult_pct  \
0  Afghanistan            AFG  2010          3.47945                 NaN
1  Afghanistan            AFG  2011          3.46201                31.0
2  Afghanistan            AFG  2012          2.60420                 NaN
3  Afghanistan            AFG  2013          3.45446                 NaN
4  Afghanistan            AFG  2014          3.69522                 NaN

   pri_comp_rate_pct  pupil_teacher_primary  pupil_teacher_secondary  \
0                NaN               44.41709                      NaN
1                NaN               43.51915                      NaN
2                NaN               44.67743                      NaN
3                NaN               45.71171                      NaN
4                NaN                    NaN                      NaN

   school_enrol_primary_pct  school_enrol_secondary_pct  \
0                102.903442                   50.413689
1                100.290298                   52.198429
2                106.283401                   54.206390
3                107.695976                   54.754219
4                109.115517                   54.235481

   school_enrol_tertiary_pct country_code_y  unemployment_rate
0                        NaN            AFG          20.600000
1                    3.75561            AFG          20.900000
2                        NaN            AFG          19.700001
3                        NaN            AFG          21.100000
4                    8.31087            AFG          20.799999

In [7]:
!pip freeze > requirements.txt